<% @miniblogs.each do |miniblog| %>
    <div class="content">
        <% if user_signed_in? && current_user.id == miniblog.user_id %>
            <ul class="miniblog-menu">
                <li class="miniblog-menu-item">
                    <%= button_to '詳細', miniblog_path(miniblog.id), class: "edit-btn", method: :get %>
                </li>
                <li class="miniblog-menu-item">
                    <%= button_to '編集', root_path, class: "edit-btn" %>
                </li>
                <li class="miniblog-menu-item">
                    <%= button_to '削除', miniblog_path(miniblog.id), class: "delete-btn", method: :delete %>
                </li>
            </ul>
        <% end %>
        <p class="miniblog-nickname"><%= miniblog.user.nickname %></p>
        <p class="miniblog-title"><%= miniblog.title %></p>
        <div class="image-compare">
            <% miniblog.images.each do |image| %>
                <%= image_tag image.variant(resize: "170x170"), class: 'images' %>
            <% end %>
        </div>
    </div>
<% end %>
<%= paginate(@miniblogs) %>

